<div class="sidebar left">
    <ul class="list-unstyled fw-normal pb-1 small">
        <li><a href="/variables" class="d-inline-flex align-items-center rounded">Variables</a></li>
        <li><a href="/loops" class="d-inline-flex align-items-center rounded">Loops</a></li>
        <li><a href="/app" class="d-inline-flex align-items-center rounded">app.js</a></li>
        <li><a href="/crud" class="d-inline-flex align-items-center rounded">Pure Data CRUDable REST API</a></li>
        <li><a href="/nodemon" class="d-inline-flex align-items-center rounded">Nodemon</a></li>
        <li><a href="/router" class="d-inline-flex align-items-center rounded">Router</a></li>
        <li><a href="/commands" class="d-inline-flex align-items-center rounded">Commands</a></li>
    </ul>
</div>