<div class="sidebar left">
    <ul class="list-unstyled fw-normal pb-1 small">
        <li><a href="/variables" class="d-inline-flex align-items-center rounded">Variables</a></li>
        <li><a href="/loops" class="d-inline-flex align-items-center rounded">Loops</a></li>
        <li><a href="/app" class="d-inline-flex align-items-center rounded">app.js</a></li>
        <li><a href="/crud" class="d-inline-flex align-items-center rounded">Pure Data CRUDable REST API</a></li>
        <li><a href="/docs/5.1/getting-started/javascript/" class="d-inline-flex align-items-center rounded">JavaScript</a></li>
        <li><a href="/docs/5.1/getting-started/webpack/" class="d-inline-flex align-items-center rounded">Webpack</a></li>
        <li><a href="/docs/5.1/getting-started/parcel/" class="d-inline-flex align-items-center rounded">Parcel</a></li>
        <li><a href="/docs/5.1/getting-started/accessibility/" class="d-inline-flex align-items-center rounded">Accessibility</a></li>
        <li><a href="/docs/5.1/getting-started/rfs/" class="d-inline-flex align-items-center rounded">RFS</a></li>
        <li><a href="/docs/5.1/getting-started/rtl/" class="d-inline-flex align-items-center rounded">RTL</a></li>
        <li><a href="/docs/5.1/getting-started/contribute/" class="d-inline-flex align-items-center rounded">Contribute</a></li>
    </ul>
</div>